<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Create New Case</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/boc_logo.png" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->

  <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/assets/css/style.css" rel="stylesheet">

  <!-- multi-tab pages Files -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  
  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="{{ url_for('main.index_page') }}"> <img src="/static/boc_logo.png"> EDD Tracker</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link scrollto" href="{{ url_for('main.index_page') }}">Home</a></li>
            <li><a class="nav-link scrollto active" href="{{ url_for('create.create_case_page') }}">Create</a></li>
            <li class="dropdown"><a href="#"><span>Preview</span> <i class="bi bi-chevron-down"></i></a>
                <ul>
                    <li><a href="{{ url_for('preview.preview_case_page') }}">All Cases</a></li>
                    <li><a href="{{ url_for('preview.cic_cases_page') }}">CIC-sub-cases</a></li>
                    <li><a href="{{ url_for('preview.recom_page') }}">Recommendations</a></li>
                    <li><a href="{{ url_for('preview.sar_page') }}">SAR Referrals</a></li>
                    <li><a href="{{ url_for('preview.sanc_page') }}">Sanction Referrals</a></li>
                </ul>
            </li>
            <li><a class="nav-link scrollto" href="{{ url_for('preview.preview_case_for_tracking') }}">Tracking</a></li>
            <li><a class="nav-link scrollto" href="{{url_for('main.download_metrics')}}">Metrics</a></li>
            <li><a class="nav-link scrollto" href="{{ url_for('realboss.admin_page') }}">Admin</a></li>
            <li><a class="nav-link scrollto" href="{{ url_for('auth.logout') }}">Sign out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Create Section ======= -->
    <section id="create" class="d-flex align-items-center">
        <div class="container">
        
            <div class="section-title animated mt-4" data-aos="fade-up">
                <br>
                <h2>Create</h2>
                <p>Create a new case, including RMB and CIC case</p>
            </div>

            <div class="row justify-content-sm-center h-100">
                
                <div class="col-xl-12 text-center">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}" role="alert"> {{ message }}</div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>

                <div class="col-xl-4">
                    <div class="card shadow-lg" data-aos="fade-right" data-aos-delay="200">
                      <div class="card-body pt-2 align-items-center">
                        <div class="m-lg-4">

                            <form method="POST" >
                                {{ find_similar_case_form.csrf_token }}
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        {{ find_similar_case_form.customer_id.label(class="form-label") }}
                                        {{ find_similar_case_form.customer_id(class="form-control") }}
                                    </div>
                                    <div class="col-md-12 mt-2 text-center">
                                        {{ find_similar_case_form.find_btn(class="btn update-btn mt-2") }}
                                    </div>
                                </div>
                            </form>

                        </div>
                      </div>
                    </div>
                </div>

                <div class="col-lg-8 align-items-center">
                    <div class="card shadow-lg" data-aos="fade-left" data-aos-delay="200">
                        <div class="card-body p-5 create-card">
                            <div class="container">
                                
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="case-type1-tab" data-toggle="tab" href="#case-type1">Other Cases</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="case-type2-tab" data-toggle="tab" href="#case-type2">RMB Case</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="case-type3-tab" data-toggle="tab" href="#case-type3">CIC Case</a>
                                    </li>
                                </ul>
                                
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="case-type1">
                                        <div class="m-lg-1">
                                            <form method="POST" >
                                                {{ new_case_form.csrf_token }}
                                                <div class="row mb-3 mt-4">
                                                    <div class="col-md-6">
                                                        {{ new_case_form.customer_id.label(class="form-label") }}
                                                        {{ new_case_form.customer_id(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ new_case_form.customer_name.label(class="form-label") }}
                                                        {{ new_case_form.customer_name(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-3">
                                                        {{ new_case_form.kyc_refresh_date.label(class="form-label") }}
                                                        {{ new_case_form.kyc_refresh_date(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_case_form.risk_rating.label(class="form-label") }}
                                                        {{ new_case_form.risk_rating(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_case_form.customer_type.label(class="form-label") }}
                                                        {{ new_case_form.customer_type(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_case_form.case_type.label(class="form-label") }}
                                                        {{ new_case_form.case_type(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-12">
                                                        {{ new_case_form.category.label(class="form-label") }}
                                                        {{ new_case_form.category(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-12">
                                                        {{ new_case_form.comment.label(class="form-label") }}
                                                        {{ new_case_form.comment(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-12 text-center">
                                                        {{ new_case_form.create_case(class="btn update-btn mt-2") }}
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                
                                    <div class="tab-pane fade" id="case-type2">
                                        <div class="m-lg-1">
                                            <form method="POST" >
                                                {{ new_rmb_form.csrf_token }}
                                                <div class="row mb-3 mt-4">
                                                    <div class="col-md-6">
                                                        {{ new_case_form.customer_id.label(class="form-label") }}
                                                        {{ new_case_form.customer_id(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ new_case_form.customer_name.label(class="form-label") }}
                                                        {{ new_case_form.customer_name(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-3">
                                                        {{ new_rmb_form.sc_start_date.label(class="form-label") }}
                                                        {{ new_rmb_form.sc_start_date(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_rmb_form.sc_end_date.label(class="form-label") }}
                                                        {{ new_rmb_form.sc_end_date(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_rmb_form.txn_start_date.label(class="form-label") }}
                                                        {{ new_rmb_form.txn_start_date(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_rmb_form.txn_end_date.label(class="form-label") }}
                                                        {{ new_rmb_form.txn_end_date(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-4">
                                                        {{ new_rmb_form.risk_rating.label(class="form-label") }}
                                                        {{ new_rmb_form.risk_rating(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ new_rmb_form.customer_type.label(class="form-label") }}
                                                        {{ new_rmb_form.customer_type(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-4">
                                                        {{ new_rmb_form.category.label(class="form-label") }}
                                                        {{ new_rmb_form.category(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-12">
                                                        {{ new_rmb_form.comment.label(class="form-label") }}
                                                        {{ new_rmb_form.comment(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-12 text-center">
                                                        {{ new_rmb_form.create_rmb_case(class="btn update-btn mt-2") }}
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="case-type3">
                                        <div class="m-lg-1">
                                            <form method="POST">

                                                <div class="row mt-4">
                                                    <p><mark>After creating a CIC case, you need to create CIC-sub-cases belonging to this CIC cases.</mark></p>
                                                </div>

                                                {{ new_cic_form.csrf_token }}
                                                
                                                <div class="row mb-3 mt-4">
                                                    <div class="col-md-12">
                                                        {{ new_cic_form.customer_name.label(class="form-label") }}
                                                        {{ new_cic_form.customer_name(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-6">
                                                        {{ new_cic_form.case_type.label(class="form-label") }}
                                                        {{ new_cic_form.case_type(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ new_cic_form.category.label(class="form-label") }}
                                                        {{ new_cic_form.category(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-3">
                                                        {{ new_rmb_form.sc_start_date.label(class="form-label") }}
                                                        {{ new_rmb_form.sc_start_date(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_rmb_form.sc_end_date.label(class="form-label") }}
                                                        {{ new_rmb_form.sc_end_date(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_rmb_form.txn_start_date.label(class="form-label") }}
                                                        {{ new_rmb_form.txn_start_date(class="form-control") }}
                                                    </div>
                                                    <div class="col-md-3">
                                                        {{ new_rmb_form.txn_end_date.label(class="form-label") }}
                                                        {{ new_rmb_form.txn_end_date(class="form-control") }}
                                                    </div>
                                                </div>
                                                <div class="mb-3 row">
                                                    <div class="col-md-12 text-center">
                                                        {{ new_cic_form.create_cic_case(class="btn update-btn mt-2") }}
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- End About Us Section -->

  </main><!-- End #main -->

  <!-- Vendor JS Files -->
  <script src="/static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/assets/vendor/aos/aos.js"></script>
  <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/assets/js/main.js"></script>

</body>

</html>